#loginform {
    height: 16px;
    padding: 20px 24px;
}
#loginform > *:not(#toggle-form) {
    visibility: hidden;
}
#toggle-form {
    background: transparent;
    border: none;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
#login #nav {
    display: none;
    margin-top: 50px;
    padding-left: 0px;
}