parameters:
  level: 5
  inferPrivatePropertyTypeFromConstructor: true
  bootstrapFiles:
    - tests/phpstan-bootstrap.php
  paths:
    - hello-login.php
    - includes/
  excludePaths:
    - wordpress/
